
.box-perfil{
    padding: 20px;
}
.contenedor
{
    position: relative;
    display: inline-block;
    text-align: center;
}
.cajaTitulo p{
    font-size: 40px;
    color: red;
}
.cajaDescripcion
{
    padding: 70px;
    font-size: 18px;
}
.texto_centrado
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}
.box-actualidad{
    background-color:#3498DB;
    padding: 20px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    text-align: justify;
}
.boxEstudios{
    padding: 20px;
    border-radius: 10px;
    color: #2E4053;
}
.cajaCursos{
    background-color: #2E4053;
    padding: 20px;
}
.cajaLenguajes{
    background-image: radial-gradient(circle at 93.3% -1.6%, #d147f0 0, #ac39f2 16.67%, #7c2ff3 33.33%, #1d29f3 50%, #002af3 66.67%, #002ef3 83.33%, #0031f2 100%);
    padding: 30px;
    border-radius: 10px;
}
.cajaLenguajes p{
    padding: 10px;
    color: white;
}
.otros a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.box-footer{
    background-color:black;
    padding: 40px;
    margin-top: 10px;
    color: white;
}
@media (max-width: 600px)
{
    .texto_centrado
    {
        margin-top: 50px;
        font-size: 20px;
    }
    .cajaTitulo p{
        margin-top: 20px;
        font-size: 20px;
    }
}